body {
  background-color: #00ff00;
}

.teko-semibold {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.live-overlay {
  font-size: xx-large;
  width: 9em;
  height: 0.2em;
  color: white;
  padding: 0.7em;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: black;

  -webkit-filter: drop-shadow(0px 2px 2px #f00);
  filter: drop-shadow(-10px 5px 0px #f00);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#f00')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#f00')";

  clip-path: polygon(
    0.4287187078898em 1.6em,
    0em 0.5em,
    0.3em 0em,
    9.5712812921102em 0em,
    10em 1.1em,
    9.7em 1.6em
  )
}

.live-overlay-shadow {
  position: absolute;
  background-color: #f00;
  top: 9px;
  left: 3px;
  z-index: -1
}

.rank {
  display: inline-block;
  width: 30px;
  text-align: end;
}

.line {
  height: 80%;
  width: 0.15rem;
  background-color: red;
  opacity: 0.8;
  position: absolute;
  left: 70px;
}

.score {
  margin-right: 0.5em;
}
