<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <title>Apex Live Overlay</title>
  </head>
  <body>
    <div class="teko-semibold live-overlay">
      <span class="rank">{{ rank }}</span>
      <div class="line"></div>
      <span class="team-name">{{ team_name }}</span>
      <span class="score">{{ score }}</span>
    </div>
  </body>
</html>
